*{
    margin: 0 auto;
    max-width: 1600px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-------navigation bar--------*/

nav{
    display: flex;
    padding: 2% 6%; 
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-home{
    flex: 1;
    text-align: left;
}

.nav-home ul li{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-home ul li a{
    color: black;
    text-decoration: none;
    font-size: 13;
}

.nav-home ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-home ul li:hover::after{
    width: 100%;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/*-------home page--------*/

.container-name{
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.container span{
    color: black;
    display: block;
}

.name{
    font-size: 750%;
    position: relative;
    animation: text 1s 1;
}

.description{
    font-size: 200%;
}

/*-------names and program animation--------*/
@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  .animated-title {
    color: #222;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
  }
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    padding: 2vmin 0;
    position: absolute;
  }
  .text-top{
      font-size: 400%;
      font-weight: 700;
  }

  .text-bottom{
      font-size: 300%;
      font-weight: 600;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
 
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

/*-------about page--------*/

#about{
    padding: 5% 6%;
}

.about-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2% 6%;
}

.about-grid img{
    width: 100%;
    height:auto;
}

.nested-about-grid{
    display: grid;
    font-size: 125%;
    font-weight: 600;
    grid-template-rows: 30%;
    margin: 25% 15%
}

/*-------projects page--------*/

#projects{
    padding: 0% 8%;
}

.proj-grid{
    display: grid;
    margin: 2% 2%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.proj-grid img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hangman{
    position: relative;
    display: block;
}

.hangman-img{
    display: block;
}

.hangman-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.hangman-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.hangman-img-overlay:hover > * {
    transform: translateY(0);  
}

.hangman-img-overlay:hover{
    opacity: 1;
}

.hangman-title{
    font-size: 25px;
    font-weight: 700;
}

.hangman-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.vball{
    position: relative;
    display: block;
}

.vball-img{
    display: block;
}

.vball-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.vball-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.vball-img-overlay:hover > * {
    transform: translateY(0);  
}

.vball-img-overlay:hover{
    opacity: 1;
}

.vball-title{
    font-size: 25px;
    font-weight: 700;
}

.vball-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.adobe{
    position: relative;
    display: block;
}

.adobe-img{
    display: block;
}

.adobe-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.adobe-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.adobe-img-overlay:hover > * {
    transform: translateY(0);  
}

.adobe-img-overlay:hover{
    opacity: 1;
}

.adobe-title{
    font-size: 25px;
    font-weight: 700;
}

.adobe-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.viddoc{
    position: relative;
    display: block;
}

.viddoc-img{
    display: block;
}

.viddoc-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.viddoc-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.viddoc-img-overlay:hover > * {
    transform: translateY(0);  
}

.viddoc-img-overlay:hover{
    opacity: 1;
}

.viddoc-title{
    font-size: 25px;
    font-weight: 700;
}

.viddoc-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}