@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap'); 


* {
    padding: 0;
    margin: 0 auto; 
    max-width: 1200px;
    background-color: white;   

}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #333;
    color: black;
    line-height: 1.6;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
  }
  
  /* Navbar  */
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: white; 
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;  
  }

  /* Underline when Hovering */
  .navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

 section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; */
    text-align: center; 
    width: 100%;
    height: 100vh;
    /* Scroll Snap */
    scroll-snap-align: start; 
  }
  
  section h1 {
    font-size: 4rem;
  }

  #sectionHeader {
    padding-top: 8vh;
    font-size: 5vh;
    vertical-align: top;
    vertical-align: middle;
} 

  /* End of Navbar */
  
  /* Section Backgrounds */
  section#home {
    background: white no-repeat center center/cover;; 
    height: auto;
    min-height: 100% !important;
    display: block;
    position: relative;

  }
  
  section#about {
    background: white no-repeat center center/cover;;
    height: auto;
    min-height: 100% !important;
  }
  
  section#projects {
    background: white no-repeat center center/cover;;
    height: auto;
    min-height: 100% !important;
  }
  
  section#contact {
    background: white no-repeat center center/cover;;
  }
  /* Section Backgrounds End*/

  /* Name and Program Transition 
  Link to Animation: https://codepen.io/alvaromontoro/pen/RmRjvg */

  @keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

  .animated-title {
    color: black;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
  }

  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  .animated-title > div div {
    padding: 2vmin 0;
    position: absolute;
  }

  .text-top{
      font-size: 400%;
      font-weight: 700;
  }

  .text-bottom{
      font-size: 300%;
      font-weight: 600;
  }

  .animated-title > div div span {
    display: block;
  }

  .animated-title > div.text-top {
    top: 0;
  }

  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
 
  .animated-title > div.text-bottom {
    bottom: 0;
    border-top: .75vmin solid black;
  }

  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }

  #sectionHeader {
    vertical-align: top;
    vertical-align: middle;
}

#aboutDescription{
    display: flex;
    grid-area: aboutDescription;
    font-size: medium;
    height: fit-content;
    font-weight: 500;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    /* background-color: pink;  */
    text-align: center;
    justify-content: center;
    /* border: 3px solid black;
    border-radius: 25px; */
}

#conclusion{
    /* background-color: red;  */
    font-size: medium;
    font-weight: 500;
    font-size: medium;
    padding-top: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 3vh;
}

/* Larger screen use grid */
 @media screen and (min-width: 1250px){

    .parentGrid{
        display: grid;
        font-size: medium;
        font-weight: 500;
        width:fit-content;
        height: fit-content;
        align-items: center;
        text-align: center;
        overflow: hidden;
        font-size: medium;
        grid-template-columns: 50% 50%;
        grid-template-areas: "spotifyPlaylist youtubeVid"
        
    }
    
    #spotifyPlaylist{
        grid-area: spotifyPlaylist;
        max-width: 560px;
        /* border: 3px solid black; 
        border-radius: 25px; */
        padding: 1vh;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-bottom: 2vh;
        height:fit-content;
        font-weight: 500;
        /* background-color: blue; */
    }
    
    .aspect-ratio {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
      }
      
      .aspect-ratio iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    
    #youtubeVid{
        grid-area: youtubeVid;
        height: fit-content;
        justify-content: center;
        max-width: 560px;
        padding: 1vh;
        /* border: 3px solid black;
        border-radius: 25px; */
        padding: 1vh;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-bottom: 2vh;
        /* background-color: green;  */
    }

    /* Projects Section */
    .proj-grid{
        display: grid;
        margin-left: 3%;
        margin-right: 5%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 2%;
        grid-row-gap: 2%;
    }
    
    .proj-grid img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    .nhl{
        position: relative;
        display: block;
    }
    
    .nhl-img{
        display: block;
    }
    
    .nhl-img-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s;
        border-radius: 5px;
    }
    
    .nhl-img-overlay > * {
        transform: translateY(20px);
        transition: transform 0.5s;
    }
    
    .nhl-img-overlay:hover > * {
        transform: translateY(0);  
    }
    
    .nhl-img-overlay:hover{
        opacity: 1;
    }
    
    .nhl-title{
        font-size: 25px;
        font-weight: 700;
        background-color: transparent;
    }
    
    .nhl-description{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: transparent;
    }
    
    .vball{
        position: relative;
        display: block;
    }
    
    .vball-img{
        display: block;
    }
    
    .vball-img-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s;
        border-radius: 5px;
    }
    
    .vball-img-overlay > * {
        transform: translateY(20px);
        transition: transform 0.5s;
    }
    
    .vball-img-overlay:hover > * {
        transform: translateY(0);  
    }
    
    .vball-img-overlay:hover{
        opacity: 1;
    }
    
    .vball-title{
        font-size: 25px;
        font-weight: 700;
        background-color: transparent;
    }
    
    .vball-description{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: transparent;
    }
    
    .adobe{
        position: relative;
        display: block;
    }
    
    .adobe-img{
        display: block;
    }
    
    .adobe-img-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s;
        border-radius: 5px;
    }
    
    .adobe-img-overlay > * {
        transform: translateY(20px);
        transition: transform 0.5s;
    }
    
    .adobe-img-overlay:hover > * {
        transform: translateY(0);  
    }
    
    .adobe-img-overlay:hover{
        opacity: 1;
    }
    
    .adobe-title{
        font-size: 25px;
        font-weight: 700;
        background-color: transparent;
    }
    
    .adobe-description{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: transparent;
    }
    
    .hybird{
        position: relative;
        display: block;
    }
    
    .hybird-img{
        display: block;
    }
    
    .hybird-img-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s;
        border-radius: 5px;
    }
    
    .hybird-img-overlay > * {
        transform: translateY(20px);
        transition: transform 0.5s;
    }
    
    .hybird-img-overlay:hover > * {
        transform: translateY(0);  
    }
    
    .hybird-img-overlay:hover{
        opacity: 1;
    }
    
    .hybird-title{
        font-size: 25px;
        font-weight: 700;
        background-color: transparent;
    }
    
    .hybird-description{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: transparent;
    }
    

} 

/* Smaller Screen Use Flexbox */
@media screen and (max-width: 1249px){

#aboutDescription{
    max-width: 560px;
}

#conclusion{
    max-width: 560px;
}

.parentGrid{
    flex-flow: row wrap;
    width:fit-content;
    height: fit-content;
    align-items: center;
    overflow: hidden;
    font-size: medium;
    font-weight: 400;
    max-width: 560px;
}

#spotifyPlaylist{
    grid-area: spotifyPlaylist;
    padding: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    height:fit-content;
    font-weight: 400;
    /* background-color: blue;  */
}

iframe{
    max-width: 560px;
}

#spotifyPlaylist p{
    font-size: medium;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  
  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

#youtubeVid{
    grid-area: youtubeVid;
    height: fit-content;
    padding: 1vh;
    /* border: 3px solid black;
    border-radius: 25px; */
    padding: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    font-weight: 500;
    font-size: medium;
    /* background-color: yellow;  */
} 

.proj-grid{
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}

.proj-grid img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 2vh; 
    margin-bottom: 2vh; 
}

.nhl{
    position: relative;
    display: block;
}

.nhl-img{
    display: block;
}

.nhl-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.nhl-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.nhl-img-overlay:hover > * {
    transform: translateY(0);  
}

.nhl-img-overlay:hover{
    opacity: 1;
}

.nhl-title{
    font-size: 25px;
    font-weight: 700;
    background-color: transparent;
}

.nhl-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
}

.vball{
    position: relative;
    display: block;
}

.vball-img{
    display: block;
}

.vball-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white; 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.vball-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.vball-img-overlay:hover > * {
    transform: translateY(0);  
}

.vball-img-overlay:hover{
    opacity: 1;
}

.vball-title{
    font-size: 25px;
    font-weight: 700;
    background-color: transparent;
}

.vball-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
}

.adobe{
    position: relative;
    display: block;
}

.adobe-img{
    display: block;
}

.adobe-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.adobe-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.adobe-img-overlay:hover > * {
    transform: translateY(0);  
}

.adobe-img-overlay:hover{
    opacity: 1;
}

.adobe-title{
    font-size: 25px;
    font-weight: 700;
    background-color: transparent;
}

.adobe-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
}

.hybird{
    position: relative;
    display: block;
}

.hybird-img{
    display: block;
}

.hybird-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.hybird-img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.hybird-img-overlay:hover > * {
    transform: translateY(0);  
}

.hybird-img-overlay:hover{
    opacity: 1;
}

.hybird-title{
    font-size: 25px;
    font-weight: 700;
    background-color: transparent;
}

.hybird-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
}

}




